:root {
    --main-blue: #00bfff;
    }

body {
    font-family: Verdana, sans-serif;
    @media (max-width: 750px) {
        color: #ffffff
    }
}

p {
    font-size: 18px;
}

.difSize {
    font-size: 12px;
    color: rgb(34, 0, 255);
    line-height: 10px;
    background-color: #2196f3;
}

#redBold {
    position: absolute;
    top: 20px;
    left: 50px;
    font-weight: bold;
    color: var(--main-blue);
    margin-left: 100px;
}

#border {
    border: 1px solid purple;
    border-style: dashed;
}

h1 {
    text-align: right;
    font-variant: small-caps;
    text-decoration: underline;
}

.italic-type {
    font-style: italic;
    padding: 10px 20px 15px;
}

.fontjke {
    font: italic small-caps bold 24px/30px Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.numOne {
    width: 300px;
    height: 100px;
    padding-right: 50px;
    background-color: #000;
    color: white;
    text-align: right;
}

.numTwo {
    width: 300px;
    height: 100px;
    padding-right: 50px;
    background-color: #000;
    color: white;
    text-align: right;
    box-sizing: border-box;
}


@keyframes color {
    0% {
        color: black;}
    50% {
        color: white;}
    100% {
        color: black;}
}

.black-white {
    animation: color 3s infinite;
}